<%- include('plantillas/cabeza.ejs')%>
    <div class="col-md-6 offset-md-3">
        <div class="card-header">
            <h1>tasks</h1>
        </div>
        <div class="card-footer">
            <form action="contactos-insert" method="post">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellidos" placeholder="Apellidos" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                </div>

                <BUtton class="btn btn-primary btn-block">
                    add
                </BUtton>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <%for(var i=0; i < data.length; i++) {%>
                    <tr>
                        <th scope="row">
                            <%=i+1%>
                        </th>
                        <td>
                            <%=data[i].nombre%>
                        </td>
                        <td>
                            <%=data[i].apellidos%>
                        </td>
                        <td>
                            <%=data[i].email%>
                        </td>
                        <td>
                            <a href="contactos-update/<%=data[i].email%>">update</a>
                        </td>
                        <td>
                            <a href="contactos-delete/<%=data[i].email%>">delete</a>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <%- include('plantillas/pie.ejs')%>